click==8.1.7
click_default_group==1.2.4
fastapi==0.104.0
gradio_client==0.6.1
kombu==5.3.2
loguru==0.7.2
oss2==2.18.2
pydantic==2.4.2
pydantic_settings==2.0.3
SQLAlchemy==2.0.21
uvicorn==0.23.2
redis
oss2==2.18.2
SQLAlchemy
uvicorn
itsdangerous
socksio==1.0.0
PyMySQL
celery
flower
python-weixin==0.5.0
python-multipart
